[Desktop Entry]
Comment[da]=
Comment=
Exec=/usr/bin/vglclient-service
GenericName[da]=
GenericName=
Icon=exec
MimeType=
Name[da]=
Name=
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
